{% extends 'base.html' %}

{% block title %}Boggle!{% endblock %}

{% block body %}

<div>
<h1 class = "text-center mt-5">Boggle!</h1>
</div>

<div class = "container text-center">
{% for row in board%}
    <div class = "row mt-5">
    {% for column in row%}
        <div class = "col-sm">{{column}}</div>    
    {% endfor %}
    </div>
{% endfor %}
</div>

<div class = "text-center mt-5">
    <form id = "inputguess">
        <label class = "col-1">Guess a Word</label>
        <input type = "text" name = "guess">
    </form>
</div>

{% endblock %}

{% block script %}
<script src = "/static/index.js"></script>
{% endblock %}